<h1 *ngIf="isAddMode">Add Member</h1>
<h1 *ngIf="!isAddMode">Edit Member</h1>
<form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="form-row">
        <div class="form-group col">
            <label for="firstName">First Name</label>
            <input type="text" formControlName="firstName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }" />
            <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
                <div *ngIf="f.firstName.errors.required">First Name is required</div>
            </div>
        </div>
        <div class="form-group col">
            <label for="lastName">Last Name</label>
            <input type="text" formControlName="lastName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }" />
            <div *ngIf="submitted && f.lastName.errors" class="invalid-feedback">
                <div *ngIf="f.lastName.errors.required">Last Name is required</div>
            </div>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col">
            <label for="userName">Username</label>
            <input type="text" formControlName="userName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.userName.errors }" />
            <div *ngIf="submitted && f.userName.errors" class="invalid-feedback">
                <div *ngIf="f.userName.errors.required">Username is required</div>
            </div>
        </div>
        <div class="form-group col">
            <label for="password">
                Password
                <em *ngIf="!isAddMode">(Leave blank to keep the same password)</em>
            </label>
            <input type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
            <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                <div *ngIf="f.password.errors.required">Password is required</div>
                <div *ngIf="f.password.errors.minlength">Password must be at least 6 characters</div>
            </div>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col">
            <label for="email">Email</label>
            <input type="text" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
            <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                <div *ngIf="f.email.errors.required">Email is required</div>
            </div>
        </div>
        <div class="form-group col">
            <label for="departmentId">
                Department
            </label>
            <select formControlName="departmentId" class="form-control">
                <option selected value="-1">Select department</option>
                <option *ngFor="let depart of departments"  
                        value={{depart.departmentId}}>  
                    {{depart.departmentName}}  
                </option> 
            </select>                  
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col">
            <label for="roleType">Role</label>
            <select formControlName="roleType" class="form-control">
                <option value="-1">Select role</option>
                <option *ngFor="let role of roles"  
                        value={{role.roleId}}>  
                    {{role.roleName}}  
                </option> 
            </select>                        
        </div>
        <div class="form-group col">
            <label for="location">
                Location
            </label>
            <input type="text" formControlName="location" class="form-control" />            
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col">
            <label for="isAccountManager">Is Account Manager</label>
            <select formControlName="isAccountManager" class="form-control">
                <option value="true">Yes</option>
                <option value="false">No</option>
            </select>                        
        </div>
        <div class="form-group col">
            <label for="accountManager">
                Account Manager
            </label>
            <select formControlName="accountManager" class="form-control">
                <option value="-1">Select manager</option>
                <option *ngFor="let manager of managers"  
                        value={{manager.id}}>  
                    {{manager.firstName}}
                </option> 
            </select>          
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col">
            <label for="isGKPUser">Is GKP User</label>
            <select formControlName="isGKPUser" class="form-control">
                <option value="true">Yes</option>
                <option value="false">No</option>
            </select>                        
        </div>  
        <div class="form-group col"></div>      
    </div>
    <div class="form-group">
        <button [disabled]="loading" class="btn btn-primary">
            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
            Save
        </button>
        <a routerLink="/users" class="btn btn-link">Cancel</a>
    </div>
</form>